<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.github.dunmatt.obo.android.components">
  <uses-sdk android:minSdkVersion="23"
            android:targetSdkVersion="25" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <application>
  <activity android:name=".examples.createVoiceControl.VoiceControlActivity"
            android:taskAffinity=""
            android:launchMode="singleTask">
<!--     <intent-filter>
    </intent-filter>
 -->
  </activity>
</application>
</manifest>